h1 {
font-family: 'Open Sans', sans-serif;
border: double;
text-align: center;
width: 40%;
margin-left: 30%;
}

img {
height: 300px;
width: 250px;
object-fit: contain;
border-radius: 85px;
}

body {
background-color: #6E85A3;
margin-left: 5.4%;
}

@media screen and (max-width: 1347px) {
h1 {
font-size: 30px;
text-align: center;
}
img {
height: 265px;
width: 220px;
}

@media screen and (max-width: 1281px) {
h1 {
font-size: 30px;
text-align: center;
}
img {
height: 265px;
width: 220px;
}

@media screen and (max-width: 1189px) {
h1 {
font-size: 15px;
text-align: center;
}
img {
height: 250px;
width: 200px;
}
}

@media screen and (max-width: 1157px) {
h1 {
font-size: 15px;
text-align: center;
}
img {
height: 230px;
width: 190px;
}
}

@media screen and (max-width: 1031px) {
h1 {
font-size: 15px;
text-align: center;
}
img {
height: 220px;
width: 170px;
}
}

@media screen and (max-width: 924px) {
h1 {
font-size: 15px;
text-align: center;
}
img {
height: 200px;
width: 150px;
}

@media screen and (max-width: 819px) {
h1 {
font-size: 15px;
text-align: center;
}
img {
height: 180px;
width: 130px;
}
}

@media screen and (max-width: 765px) {
h1 {
font-size: 15px;
text-align: center;
}
img {
height: 180px;
width: 130px;
}
}

@media screen and (max-width: 714px) {
h1 {
font-size: 15px;
text-align: center;
}
img {
height: 165px;
width: 115px;
}
}

@media screen and (max-width: 606px) {
h1 {
font-size: 15px;
text-align: center;
}
img {
height: 150px;
width: 100px;
}
}

@media screen and (max-width: 554px) {
h1 {
font-size: 15px;
text-align: center;
}
img {
height: 130px;
width: 90px;
}
}

@media screen and (max-width: 500px) {
h1 {
font-size: 15px;
text-align: center;
}
img {
height: 110px;
width: 80px;
}
}                                                                                                h1 {
                                                                                                    font-size: 15px;
                                                                                                    text-align: center;
                                                                                                  }
